<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
    <div class="container">
        <h1>Lists</h1>
       

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>mailId</th>
                    <th>mobileNo</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${registerModel.username}"></td>
                    <td th:text="${registerModel.mail}"></td>
                    <td th:text="${registerModel.mobile}"></td>
                    <td th:text="${registerModel.city}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
